aiohttp==1.0.5
async-timeout==3.0.0
chardet==3.0.4
Click==7.0
discord.py==0.16.12
Flask==1.0.2
feedgen==0.7.0
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.5
MarkupSafe==1.0
multidict==4.4.2
python-dateutil==2.7.3
six==1.11.0
websockets==3.4
Werkzeug==0.14.1

